.price {
  @include media-breakpoint-down(lg) {
    padding: 16px 4px;
    border-radius: 4px;
    background: $color__light;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  }
}

.price__heading {
  @include fs-lh(12px,1.3);
  margin: 0 0 4px;
  color: $color__brand;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price__body {
  @include media-breakpoint-up(xl) {
    flex-grow: 1;
    padding: 16px 10px;
    border-radius: 4px;
    background: $color__light;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  }
}

.price__title {
  font-weight: 600;
}
