extends service1

block meta
  - var title = 'Уборка салона';
  - var bg = 'service-5';

block price
  .section.wrapper
    .price.row
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Услуга
        .price__body.d-flex.flex-column.justify-content-center
          .price__title Уборка салона
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Описание
        .price__body
          .price__content Влажная уборка салона, обработка стекол и пластика, мойка ковров, пылесос.
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Легковая
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 550 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Кроссовер
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 600 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Внедорожник
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 650 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Микроавтобус
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 750 ₽
