extends service1

block meta
  - var title = 'Другие услуги';
  - var bg = 'service-6';

block price
  .section.wrapper
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Услуга
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 1
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Описание
        .price__body
          .price__content Турбосушка кузова
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Легковая
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title +250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Кроссовер
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title +250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Внедорожник
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title +250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Микроавтобус
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title +250 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 2
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Техническая мойка кузова
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 3
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Мойка ковров
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 50 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 50 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 50 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 50 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 4
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Обезжиривание кузова
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 500 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 5
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Мойка двигателя
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 700 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 700 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 700 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 700 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 6
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Уборка салона пылесосом
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 7
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Уборка багажника пылесосом
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 150 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 150 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title -
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 8
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Обработка стекол
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 9
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Влажная уборка салона
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 10
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Обработка пластика
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 11
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Кондиционер кожи
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 350 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 350 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 450 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 12
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Очистка колесных дисков
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 13
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Чернение резины
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 14
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Удаление насекомых
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 350 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 400 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 15
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Обработка кузова жидким кварцем
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 550 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 600 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 16
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Обработка кузова жидким воском
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 250 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 17
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Нанесение тефлона на кузова
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1700 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1900 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 18
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Удаление соли с 1 ковра
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 300 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 19
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Гидрофобное покрытие лобового стекла
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 800 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 800 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 800 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 900 ₽
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 20
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Мойка днища авто
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 550 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 650 ₽
    .price.row
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title 21
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Очистка кузова глиной
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1200 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1400 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
          .price__title 1500 ₽
