extends service1

block meta
  - var title = 'Химчистка';
  - var bg = 'service-7';

block price
  .section.wrapper
    .price.row.mb-2
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Услуга
        .price__body.d-flex.flex-column.justify-content-center
          .price__title Химчистка
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__heading.d-none.d-md-block Описание
        .price__body
          .price__content Глубокая очистка всех поверхностей от различных загрязнений, пятен и пыли при помощи специальных моющих средств и инструментов.
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Легковая
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title от 5000 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Кроссовер
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title от 5000 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Внедорожник
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title от 5500 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__heading Микроавтобус
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title от 6500 ₽
    .price.row
      .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
        .price__body.d-flex.flex-column.justify-content-center
          .price__title Химчистка багажника
      .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
        .price__body
          .price__content Глубокая очистка багажника от различных загрязнений, пятен и пыли при помощи специальных моющих средств и инструментов.
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title 2000 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title 2000 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title 2000 ₽
      .col-xl-1.col-3.d-flex.flex-column
        .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center.px-xl-2
          .price__title -
