extends base

block meta
  - var title = 'Автомойка Люкс';
  - var bg = 'service-1';

block promo
  +promo(title, 'Мы используем только профессиональное оборудование (например, пылесосы с набором насадок для удаления грязи из труднодоступных мест) и высококачественную немецкую автохимию Koch, которая не оказывает негативного влияния ни на салон автомобиля, ни на человеческий организм, она не выделяет ядовитых паров и т.д.', bg)

  block price
    .section.wrapper
      .price.row
        .col-xl-2.col-md-3.d-flex.flex-column.mb-3.mb-xl-0
          .price__heading.d-none.d-md-block Услуга
          .price__body.d-flex.flex-column.justify-content-center
            .price__title Комплекс 1
        .col-xl-6.col-md-9.d-flex.flex-column.mb-3.mb-xl-0
          .price__heading.d-none.d-md-block Описание
          .price__body
            .price__content Мойка кузова, ковров, уборка салона пылесосом, влажная уборка салона, обработка стекол и пластика, очистка дисков спецсредством.
        .col-xl-1.col-3.d-flex.flex-column
          .price__heading Легковая
          .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
            .price__title 1000 ₽
        .col-xl-1.col-3.d-flex.flex-column
          .price__heading Кроссовер
          .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
            .price__title 1200 ₽
        .col-xl-1.col-3.d-flex.flex-column
          .price__heading Внедорожник
          .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
            .price__title 1300 ₽
        .col-xl-1.col-3.d-flex.flex-column
          .price__heading Микроавтобус
          .price__body.d-flex.flex-column.align-items-xl-center.justify-content-center
            .price__title 1700 ₽
