extends base

block meta
  - var title = 'Автомойка Люкс';
  - var bg = 'service-1';

block promo
  +promo(title, 'Мы используем только профессиональное оборудование (например, пылесосы с набором насадок для удаления грязи из труднодоступных мест) и высококачественную немецкую автохимию Koch, которая не оказывает негативного влияния ни на салон автомобиля, ни на человеческий организм, она не выделяет ядовитых паров и т.д.', bg)